name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 20
          - 22
          - 25
          - latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node version ${{ matrix['node-version'] }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          check-latest: 'true'

      - name: Install dependencies with Yarn
        run: yarn install --frozen-lockfile

      - name: Lint the code
        run: yarn lint

      - name: Test the code
        run: yarn test

      - name: Build the project
        run: yarn build


