name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "yarn"
          registry-url: https://registry.npmjs.org

      - name: Install
        run: yarn install --frozen-lockfile


      - name: Test
        run: yarn test

      - name: Build
        run: yarn build

      - name: Publish to npm
        run: npm publish --access public

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
